body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main1{
    /* background-color: aqua; */
    width: 100%;
    height: 3000px;
}

.header{
    background-color: #3a8009;
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    justify-content: space-between;
}  
                    .contacts, .sm{
                        /* background-color: bisque; */
                        width: 500px;
                        height: 100%;
                        float: left;
                        color: white;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 12pt;
                    }
                    .contacts p:hover{
                        text-decoration: underline;
                        color: red;
                    }

                            .sm{
                                width: 300px;
                            }
                                    .sm i{
                                        padding: 7px;
                                    }
                                            .sm i:hover{
                                                content: attr(title);
                                                display: inline-block;
                                                
                                            }
                                            
.secondhead{
    background-color: rgba(255, 255, 255 , .8);
    width: 100%;
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}           
                .logo{
                    position: relative;
                    left: 150px;
                }
                .logo img{
                    /* border:2px solid black; */
                    width: 60px;
                }

                .tabs{
                    /* background-color: cornflowerblue; */
                    width: 800px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    /* background-color: #4ab47a; */
                }
                        .tabs ul{
                            border-spacing: 10px 0px;
                            font-size: 12pt;
                        }
                                
                                .tabs list{
                                    padding: 20px;
                                    display: inline-block;
                                }
                                .td1{
                                    border-bottom: 4px solid #3a8009;
                                    background-color: #edf1e9;
                                }
                                .tabs list:hover{
                                    border-bottom: 4px solid #3a8009;
                                    background-color: #edf1e9;
                                }

                                        .dropdown{
                                            position: relative;
                                            display: inline-block;
                                        }

                                            .extend{
                                                display: none;
                                                color: black;
                                                /* background-color: lightseagreen; */
                                                min-width: 100px;
                                                height: 100px;
                                                /* padding: 10px; */
                                                z-index: 1;
                                                position: absolute;
                                            }

                                            .extend a{
                                                display: block;
                                                text-decoration: none;
                                                color: black;
                                                padding: 10px;
                                                background-color: white;
                                            }
                                .dropdown:hover .extend{
                                    display: block;


                                }
                                .extend:hover a{
                                    display: block;
                                   
                                }
                                .extend a:hover{
                                    background-color: #f7f7f7;
                                }
                                            
                                                    
                                            
.titlepart{
    /* background-color: darkgoldenrod; */
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}             
                .wserp{
                    padding-left: 150px;
                    width: 450px;
                    position: relative;
                    top: -60px;
                }
                .wserp h1{
                    font-size: 35pt;
                    justify-self: center;
                    text-align: left;
                    line-height: 20px;
                    color: #4ab47a;
                }           
                .wserp h5{
                    font-size: 16pt;
                    justify-self: center;
                    text-align: left;
                    line-height: 20px;
                }           
                .wserp p{
                    font-size: 11pt;
                    justify-self: center;
                    text-align: left;
                    line-height: 25px;
                } 
                .wserp button{
                    width: 130px;
                    height: 50px;
                    font-size: medium;
                    background-color: white;
                    border-radius: 10px;
                    border-color: #4ab47a;
                    color: #4ab47a;
                } 
                .wserp button:hover{
                    background-color: #f7f7f7;
                    box-shadow: 0px 0px 10px 0px;
                }     
.des{
    text-align: center;
    background-image:linear-gradient( #f1f3f070, white);
    padding: 150px;
    padding-top:10px ;
    padding-bottom:0px ;
}               
            .des1{
                color: #4ab47a;
                font-size: 25pt;
            }      
            .des2{
                font-size: 20pt;
                color: gray;
            }        
            .arrow{
                margin-top: 50px;
                display: block;
                margin: auto;
            }
.rows{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
            .rows h6{
                font-size: large;
                text-align: center;
            }
            .r1c1, .r1c2, .r1c3{
                padding: 30px;
                width: 400px;
                height: 600px;
                background-color: white;
                line-height: 25px;
                text-align: justify;
                position:relative;
                top:0;
                transition: top ease 0.5s;
                
                
                
            }
            div.r1c1:hover,div.r1c2:hover,div.r1c3:hover{
                box-shadow: 0px 0px 40px 10px rgb(212, 214, 209);
                top:-10px;
                z-index: 1;
            }
            div.rows img{
                display: block;
                margin: auto;
            }   
                        div.r2 {
                            background-image: linear-gradient(#f1f3f0b6, white);
                        }   


            .footer{
    width: 100%;
    height: 200px;
    background-color: white;
}